* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding-bottom: 50px;
}


body {
    background-color: #00385f;
    font-family: 'Segoe UI';
    color: #f2bb05;
    

}

/* PLAY MARKERS */
.move_display {
    display: grid;
    grid-template-columns: 1fr 2fr 100px 2fr 1fr;
    
}

.move_display img{
    width: 150px;
}

.human_pane {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 150px 1fr;  
    background-color: #43484a;
    border-radius: 5px;
    padding: 15px;
}

.machine_pane {
    grid-column: 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 150px 1fr;
    background-color: #43484a;
    border-radius: 10px;
    padding: 5px;
}

.health_a {
    display: flex;
    justify-content: flex-end;
}

.health_b {
    display: flex;
    justify-content: flex-start ;
}

.move_images {
    grid-row: 2;
    grid-column: 2 span;
    display: flex;
    justify-content: center;
}

.select {
    grid-row: 3;
    grid-column: 2 span;
    display: flex;
    justify-content: center;
}




.box_result {    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
}


/* MOVE'S SELECTION PANEL */
.selection_panel{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.btn {
    color: white;
    font-weight: bold;
    background: transparent;
    border: 0;
}
.btn:hover {
    color: #f2bb05;
}

.selection img {
    width: 80px;
}


/* RESTART BUTTON */
.restart {
    display: flex;
    justify-content: center;
}